version: '3.8'

services:
  origin-server:
    build:
      context: ./origin-server
    ports:
      - "8080:80"

  cache-server:
    build:
      context: ./cache-server
    ports:
      - "5001:5001"

  upload-server:
    build: ./upload-server
    ports:
      - "5000:5000"

  static-content-server:
    build:
      context: ./static-content-server
    ports:
      - "3000:80"

  api-server:
    build:
      context: ./api-server
    ports:
      - "4000:4000"

