name: CI/CD для miniCDN

on:
  push:
    branches: [ main ] # или master
  pull_request:
    branches: [ main ] # или master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      github.repository_name: ${{ github.repository_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/origin-server:latest origin-server
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/origin-server:latest
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/cache-server:latest cache-server
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/cache-server:latest
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/upload-server:latest upload-server
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/upload-server:latest
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/static-content-server:latest static-content-server
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/static-content-server:latest
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/api-server:latest api-server
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/api-server:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            docker pull ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/origin-server:latest
            docker pull ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/cache-server:latest
            docker pull ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/upload-server:latest
            docker pull ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/static-content-server:latest
            docker pull ghcr.io/${{ github.repository_owner }}/${{ github.repository_name }}/api-server:latest
            docker-compose up -d
