name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # Замените на вашу основную ветку, если она называется иначе

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:19.03.12
        options: >-
          --privileged
          --cap-add=SYS_ADMIN
          --cap-add=SYS_PTRACE

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false  # Установите true, если хотите пушить образы в реестр
          tags: |
            origin-server:latest
            cache-server:latest
            upload-server:latest
            static-content-server:latest
            api-server:latest

      - name: Run Docker Compose
        run: |
          docker-compose up --build -d

      - name: Wait for services to start
        run: |
          sleep 30  # Подождите, чтобы убедиться, что все сервисы запущены

      - name: Run tests (если есть)
        run: |
          # Здесь можно добавить команды для запуска тестов, если они есть
          echo "Запуск тестов..."

      - name: Shutdown services
        run: |
          docker-compose down
